html
  head
    title Who is my representative?
  body
    h1.main-title Hello there
    #this-is-an-id
      | makes content inside of element.
      | {{ myVar }}
      | = myVar
    .form-wrapper.another-class
      input(type='text' name='name')
    // html comment
    //- pug comment
